@font-face {
	font-family: 'WooCommerce-Wishlist';
	src:  url('fonts/WooCommerce-Wishlist.eot?bo2ykn');
	src:  url('fonts/WooCommerce-Wishlist.eot?bo2ykn#iefix') format('embedded-opentype'),
		url('fonts/WooCommerce-Wishlist.ttf?bo2ykn') format('truetype'),
		url('fonts/WooCommerce-Wishlist.woff?bo2ykn') format('woff'),
		url('fonts/WooCommerce-Wishlist.svg?bo2ykn#WooCommerce-Wishlist') format('svg');
	font-weight: normal;
	font-style: normal;
}

.wolf_add_to_wishlist_heart {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'WooCommerce-Wishlist';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 0;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wolf_add_to_wishlist{
	.wolf_add_to_wishlist_heart:before {
		content: "\e900";
	}

	&.wolf_in_wishlist{
		.wolf_add_to_wishlist_heart:before {
			content: "\e901";
		}
	}
}

.single-product{

	.product-type-variable{
		.summary{

			.single_variation_wrap{
				display: inline-block;
			}
		}
	}
}